<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="saveBook" method="post">
<table align="center">
<tr>
 <td>Enter Title</td>
 <td><input type="text" name="title"></td>
</tr>
<tr>
 <td>Enter Price</td>
 <td><input type="text" name="price"></td>
</tr>
<tr>
 <td>Enter Author ID</td>
 <td><input type="text" name="aid"></td>
</tr>
<tr>
 <td>Enter Publisher ID</td>
 <td><input type="text" name="pid"></td>
</tr>
<tr>
 <td colspan="2" align="center">
  <input type="submit" value="save"></td>
</tr>
</table>
</form>
</body>
</html>