<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="savePublisher" method="post">
<table align="center">
<tr>
 <td>Enter Publisher Name</td>
 <td><input type="text" name="name"></td>
</tr>
<tr>
 <td>Enter Email</td>
 <td><input type="email" name="email"></td>
</tr>
<tr>
 <td>Enter Address</td>
 <td><input type="text" name="address"></td>
</tr>
<tr>
 <td colspan="2" align="center">
  <input type="submit" value="save"></td>
</tr>
</table>
</form>
</body>
</html>